
*{
    box-sizing: border-box;
}


body{
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 15% auto 15%;
    grid-template-areas:"header header header" "nav article ads" "footer footer footer" ;
    grid-gap: 10px;
    height: 100vh;
    
}

header,nav,article,div,footer{
    background-color: gold;
    text-align: center;
}

#header{
    grid-area: header;
}

#footer{
    grid-area: footer;
}

#mainnav{
    grid-area: nav;
}

#article{
    grid-area: article;
}

#ads{
    grid-area: ads;
}


ul{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    color: red;
    font-weight: bolder;
    padding: 10px;
    
}
li{
    list-style: none;
}


.dish{
    font-size: larger;
    font-weight: bold;
    color: blue;
    padding: 20px;
    text-align: start;
}


.container{
    display: flex;
    flex-direction: row;
}